
@{
    ViewBag.Title = "Info";
    Layout = "_Layout";
}

        <h1>Welcome @ViewBag.cust.FirstName  @ViewBag.cust.LastName</h1>
        <h2>Balance Due: @ViewBag.cust.Balance</h2>
        <h2>Address: @ViewBag.cust.Address</h2>
        <h2>Phone Number: @ViewBag.cust.PhoneNumber</h2>

